<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse navbar-style animation-remover" id="main-navbar">

    <div class="container" id="nav-container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <!-- Navbar Title -->
            <a class="navbar-brand animation-remover" href="#page-top">GHOLMES1</a>
            <!-- Navbar Button When Screen Shrinks -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsable-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsable-nav">
            <ul class="nav navbar-nav">
                <li class="page-scroll">
                    <a class="nav-link nav-link-default animation-remover" href="#project2">Project 2</a>
                </li>
                <li class="page-scroll">
                    <a class="nav-link nav-link-default animation-remover" href="#project3">Project 3</a>
                </li>
                <li class="page-scroll">
                    <a class="nav-link nav-link-default animation-remover" href="#project4">Project 4</a>
                </li>
            </ul>
        </div>

    </div>

</nav>
