.fixed-top {
    padding: 25px 0px;
    transition: all 0.5s ease;
}

.navbar-style {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    background: #2C3E50!important;
}

.shrink-navbar {
    padding: 0px 0px;
    transition: all 0.5s ease;
}

@media (max-width: 575px) {
    #nav-container {
        padding: 0;
        margin: 0;
    }
}

.navbar-brand {
    font-size: 1.8em;
    line-height: 30px;
    padding: 10px 10px;
    font-size: 1.8em;
    transition: all 0.5s ease;
}

.shrink-navbar-brand {
    font-size: 1.5em;
}

.navbar-nav>.page-scroll>.nav-link-default {
    color: white;
    line-height: 30px;
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    outline: none!important;
}

.nav-link {
    transition: all 0.5s ease;
}

.nav-link-hover {
    color: #969FA8!important;
    line-height: 30px;
    padding: 10px 11px!important;
    text-align: center;
    letter-spacing: 3px!important;
}

.active-nav {
    background-color: #969FA8!important;
    color: #2C3E50!important;
}

.navbar-toggler {
    line-height: 20px;
    padding: 10px 10px;
    border: none;
    outline: none!important;
}

.animation-remover {
    transition: none!important;
}
