<!-- Footer -->
<footer>
    <div class="container text-center">
        <!-- Social Media Links on Big Screens -->
        <div class="row footer-links footer-big-screens">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/BytePair" class="social-media-link" target="_blank" rel="noopener"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://plus.google.com/u/0/113399414624756316560" class="social-media-link" target="_blank" rel="noopener"><i class="fa fa-google" aria-hidden="true"></i><span class="sr-only">Google Plus</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/gerald-holmes-279229114" class="social-media-link" target="_blank" rel="noopener"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="sr-only">Linked In</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/BytePair" class="social-media-link" target="_blank" rel="noopener"><i class="fa fa-github" aria-hidden="true"></i><span class="sr-only">GitHub</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Social Media Links on Small Screens -->
        <div class="row footer-links footer-small-screens">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/BytePair" class="social-media-link" target="_blank" rel="noopener"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://plus.google.com/u/0/113399414624756316560" class="social-media-link" target="_blank" rel="noopener"><i class="fa fa-google" aria-hidden="true"></i><span class="sr-only">Google Plus</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row footer-links footer-links-subrow footer-small-screens">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/gerald-holmes-279229114" class="social-media-link" target="_blank" rel="noopener"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="sr-only">Linked In</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/BytePair" class="social-media-link" target="_blank" rel="noopener"><i class="fa fa-github" aria-hidden="true"></i><span class="sr-only">GitHub</span></a>
                    </li>
                </ul>
            </div>
        </div>



        <div class="row footer-copyright">
            <div class="col">
                <span>Gerald Holmes - 2017</span>
            </div>
        </div>
    </div>
</footer>
