form {
    text-align: left;
    padding: 0 4em;
}

.button-holder {
    text-align: center;
}

span.required-message {
    font-size: .8em;
}

span.error-message {
    color: red;
    font-size: .8em;
    display: block;
}
