/* Add button should behave differently than regular contacts */

#addButtonDiv {
    margin: auto;
    padding: .2em 1em 0em 1em;
    list-style-type: none;
}

#addButton {
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #2C3E50;
    height: 2.4em;
    margin: .5em 0;
    padding: .3em 0;
    border-radius: 4px;
    background-color: white;
    color: #2C3E50;
}

#addButton:hover {
    letter-spacing: 2px;
    background-color: #DDD;
}

/* Below applies to all contact list items */

.selected {
    background-color: #969FA8 !important;
    color: white;
}

.contacts {
    margin: auto;
    padding: 1em;
    list-style-type: none;
}

.contacts li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    height: 2.4em;
    border-radius: 4px;
    margin: .5em 0;
}

.contact-span {
    padding: .5em 0;
    display: inline-block;
}

.contacts li.selected:hover {
    background-color: #2C3E50 !important;
    color: white;
}

.contacts li:hover {
    color: #607D8B;
    background-color: #DDD;
    letter-spacing: 2px;
}

.contacts .text {
    position: relative;
}


/* Edit and Delete Buttons */

.edit-button {
    float: left;
    padding: .5em;
}

.delete-button {
    float: right;
    padding: .5em;
}

.edit-button, .delete-button {
    letter-spacing: 0 !important;
}


/* Change size depending on width */

@media (min-width: 768px) {
    #addButtonDiv, .contacts {
        width: 30em;
    }
}


/* Modal Formatting */

#userDetailsModal {
    margin-top: 10%;
    padding: 0 !important;
}

#user-modal-title {
    margin: 0 auto;
}

#user-modal-body {
    border-bottom: 1px solid #eceeef
}

#user-modal-footer button {
    margin: 1em auto;
    border-top: 0;
    color: #2C3E50;
    font-weight: bold;
    cursor: pointer;
}

.modal-user-details {
    margin: 1em auto;
}
